BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: Empty
DerivePointerAlignment: false
PointerBindsToType: true
SpaceBeforeParens: ControlStatements
BreakBeforeBraces: Attach
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
SortIncludes: false